@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Libre Baskerville', serif;
  line-height: 1.5;
  font-weight: 400;

  color: #000;
  baackground: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
  margin: 0 auto;
  width: 100%;
}

#app {
  margin: 0 auto;
}
